# dependencies
node_modules/

# next.js
.next/
out/

# production
build/

# env
.env
.env.local
.env.*.local
apps/*/.env

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# payload
**/payload-types.ts

# playwright
test-results/
playwright-report/
